# This is Git's per-user configuration file.
[user]
	name = Simon Lejeune 
	email = lejeunesimon.91@gmail.com
[core]
	editor = /opt/homebrew/bin/nvim
#[rerere]
#	enabled = true
[merge]
    tool = nvimdiff4
[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
